node_modules/
dist/
*.db
uploads/*
!uploads/.gitkeep

.DS_Store
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

server/node_modules
server/package-lock.json
server/hospital.db

node_modules
dist
dist-ssr
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
